.text {
    font-size: 1.2em;
}

.news {
    white-space: normal; 
    font-size: 11px;
}

.websiteTitle {
    font-size: 3em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #054fb5;
}

.sourceTitle {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    text-align: left;
    padding: 5px 50px 5px 50px;
}

.feedContainer {
    border-style: solid;
    border-radius: 5px;
    border-color: cornflowerblue;
}

.fixedContainer {
    min-height: 300px;
}

.feedEntry {
    min-height: 2.1em;
}
